* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}


h4{
    color: #898E92;
}

.grid{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 720px 340px 50px 400px 150px auto auto;
    border-bottom: 50px;  
    height:85vh;
    grid-template-areas:
    ".  video video video video video ."
    ". . tag tag tag . ."
    ".  features . . . viewall ."
    ". fprod1 fprod1 . fprod2 fprod2 ."
    ". price . .  price2 . ."
    "news news news news news news news"
    "footer1 footer1 footer2 footer3 footer4 footer4 footer4"
    

    ;
  }

  .news{
      grid-area: news;
      background-color: #1b262c;
      border: cyan;

  }

  .news h1{
      color: cyan;
      margin-top: 32px;
      text-align: center;
      font-size: 72px;
      font-weight: bold;
  }
  .news p{
      color: #F8F6F8;
      font-size: 45px;
      text-align: center;
      width: 50%;
      margin-top: 64px;
      margin-left: 25%;
      margin-right: 25%;
     
  }

  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 64px 25% 40px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 50%;
    background-color: #1b262c;
    color: cyan;
    font-size: 32px;

    padding: 12px 20px;
    margin: 0px 25%;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
  }

.news #hr1{
    border: 3px solid cyan;
    border-style: none none solid none;
    margin-top: 64px;
    margin-left: 25%;
    margin-right: 25%;
   
    
}
.news #dhr{
    border: 4px solid gray;
    border-style: none none solid none;
    margin-top: 20px;


   
    
}


       

.logo {
    width: 126px;
    display: block;
    cursor: pointer;
    margin: auto;

    padding: 12px;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(245, 245, 247, 1);
 



}

header {
    background-color: #1b262c;
    height: 250px;
    margin:0 auto;
    text-align:left;
    grid-area:header;
    position:relative;



}

nav{
    
    background-color: #19d3da;
    padding-bottom: 20px;
}




.menu {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    
}


li, a {
    color: #000;
    text-decoration: none;
    display: inline;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Goldman', cursive;
    font-weight: 700;

    font-size: 30px;
 

}

a {
    padding: 12px 35px 14px;
    padding-bottom: 4px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

a:hover {



    border-style: none none solid none;
    
}


.maincontainer {
    padding-top: 20px;
    height: 100vh;
   
    
    margin: 10px auto 10px;
    border-bottom: 65px;


}
.vid {
  
  
    grid-area:video;
    align-content: center;
    
    
  }


  .tagline {
      margin-top: 65px;
      text-align: center;
      align-content: center;

      grid-area: tag;
  }
  .tagline h1{
      font-size: 72px;
      font-weight: bold;
  }

  .btntag{
    background-color: #000; 
    border-radius: 20px;
    border-style: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 56px 2px;
  }
  .btntag a{
    
 
    border-style: none;
    color: cyan;

  }





#feat{
    grid-area:features;
    font-size: 24px;
}
#viewall{
    grid-area:viewall;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;

    
}

#ftprod1{
    grid-area:fprod1;
    width: 450px;
    height: 375px;
    

}
#ftprod2{
    grid-area:fprod2;
    width: 450px;
    height: 375px;

}
#ftprice1{
    grid-area:price;
    width: 300px;

}
#ftprice2{
    grid-area:price2;
    width: 300px;
    text-align: right;
    padding-left: 100px;
}


.footer{
    grid-area: footer1;

    background-color: #1b262c;
    height: 400px;
    margin: 0;
}
.footer2{
    grid-area: footer2;
    background-color: #1b262c;

}
.footer2 .footerp{
    
    margin-top: 85px;
    text-align: left;
    color: #898E92;
    font-size: 20px;
    width: 300px;
    float: left;
    
}
.btmmar{
    margin-bottom: 25px;
}

.footer3{
    grid-area: footer3;
    background-color: #1b262c;
}
.footer3 img{
    size: 10px;
    margin: 12px;

    padding-left: 20px;
    text-align: center;
}

.socials img{
    width: 60px;
    height: 60px;
    float: left;
    

}
.footer4{
    grid-area: footer4;
    background-color: #1b262c;
}
.footer4 .footerp{
    
    margin-top: 85px;
    text-align: left;
    color: #898E92;
    font-size: 20px;
    width: 300px;
    float: left;
    padding-bottom: 40px;
}

@media only screen and (max-width:980px)
{
    .grid{
        display:grid;

        grid-template-columns:2, 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "video video"
        "tag ."
        "features ."
        "viewall ."
        "fprod1 ."
        "price ."
        "fprod2 ."
        "price2 ."
        "news ."
        "footer2 ."
        "footer3 ."
        "footer4 ."
        ;

        background-image:none;
    }

    .vid{
        height:280px;
        width: 360px;
        
    }
    #viewall{
        text-align: left;
    }
    #ftprod2{
        text-align: left;
    }
    #ftprice2{
        text-align: left;
    }
}

/* ".  video video video video video ."
    ". . tag tag tag . ."
    ".  features . . . viewall ."
    ". fprod1 fprod1 . fprod2 fprod2 ."
    ". price . .  price2 . ."
    "news news news news news news news"
    "footer1 */